body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

p {
    font-size: 1em;
    max-width: 50%;
}

blockquote {
    font-style: italic;
    max-width: 30%;
    color: green;
}